
.vs/Solution1/FileContentIndex/f33008c6-b69d-447a-a7f9-8a1a711aa63b.vsidx
.vs/Solution1/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
.vs/Solution1/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
.vs/Solution1/CopilotIndices/17.12.53.23981/SemanticSymbols.db
.vs/Solution1/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
.vs/Solution1/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
.vs/Solution1/CopilotIndices/17.12.53.23981/CodeChunks.db
.vs/Solution1/FileContentIndex/8f3ef552-faac-46d2-aa36-8fa756bf2e7b.vsidx
